body
{
	background: #FFE4BC;
}

*
{
	box-sizing: border-box;
}

body, table, select, input[type=text]
{
	font-size: 10pt;
	font-family: Courier New;
	padding: 0;
	margin: 0;
}

.vis-network-tooltip
{
	font-size: 8pt !important;
	font-family: Courier New !important;
}
.vis-network-tooltip .fname
{
	font-weight: bold;
	font-size: 10pt !important;
}

#report-container
{
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}

#report-header
{
	width: 100%;
	flex: 0 1 30px;
	background: #FFBB55;
}

#report-tabbed-menu
{
	width: 100%;
	height: 24px;
}
#report-tabbed-menu .report-tab
{
	display: block;
	float: left;
	background: #FFA114;
	
	height: 24px;
	line-height: 24px;
	padding: 0 1em;
	font-size: 9pt;
	font-family: Arial;
	letter-spacing: 1.25;
	margin-right: 2px;
	
	cursor: pointer;
}
#report-tabbed-menu .report-tab:hover
{
	background: #FFB039;
}
#report-tabbed-menu .report-tab.selected
{
	background: #DF9100;
}

h1
{
	font-family: Arial;
	font-size: 18pt;
	margin: 0;
	padding: 0.4em;
}

#report-content
{
	width: 100%;
	flex: 1 1 auto;
	position: relative;
}

#report-content .report-tab-content
{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
#report-content .report-tab-content.hidden
{
	display: none;
}

#report-content .toolbar-flow-top
{
	position: relative;
	width: 100%;
	background: white;
	padding: 0.3em 0.8em;
	border: 1px solid #FFFFDD;
	min-height: 1.75em;
	overflow: auto;
}

#report-content .toolbar-top-left
{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 0.3em 0.8em;
	background: white;
	border: 1px solid #FFFFDD;
}

#report-content .toolbar-top-left.opener,
 #report-content .toolbar-flow-top.opener
{
	display: none;
}

#report-content .toolbar-top-left .hide-text,
 #report-content .toolbar-flow-top .hide-text
{
	display: block;
	position: absolute;
	top: 2px;
	right: 4px;
	font-size: 8pt;
	cursor: pointer;
}
#report-content .toolbar-top-left.opener .hide-text
{
	position: relative;
	top: 0;
	right: 0;
	margin-bottom: 0.3em;
}

#report-content .toolbar-top-left .label-text,
 #report-content .toolbar-flow-top .label-text
{
	margin: 0.3em 0 0.3em 0;
}

#report-content .toolbar-top-left button.right,
 #report-content .toolbar-flow-top button.right
{
	float: right;
	margin-right: 0;
}

#report-content .toolbar-top-left button,
 #report-content .toolbar-flow-top button
{
	display: block;
	background: #FFA114;
	
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	
	height: 24px;
	line-height: 24px;
	padding: 0 1em;
	font-size: 9pt;
	font-family: Arial;
	
	margin: 0.5em;
	
	cursor: pointer;
}

.report-tab-content.padded
{
	padding: 1em;
}

#report-content .toolbar-top-left .callgraph-preference-entry
{
	height: 1.6em;
	line-height: 1.6em;
}

#report-content .toolbar-top-left .callgraph-preference-entry input,
 #report-content .toolbar-top-left .callgraph-preference-entry select
{
	width: 100%;
}

.summary-table td
{
	padding: 0.3em 2em 0.3em 0;
}
.summary-table td.summary-header
{
	font-size: 12pt;
	font-weight: bold;
}
.summary-table td.summary-key
{
	font-weight: bold;
}

.tdfill
{
	position: absolute; left: 0; top: 0; bottom: 0;
	z-index: 1;
}
.tdfulltop
{
	position: absolute; left: 0; top: 0; bottom: 0; right: 0;
	z-index: 2;
}
.tdfulltop.padded
{
	padding: 0.45em;
}

.func_bg_t { background: #99FF99; }
.func_bg_x { background: #FF9999; }
.func_bg_9 { background: #9999FF; }

table.flatview
{
	width: 100%;
}
table.flatview td
{
	padding: 0.5em;
	text-align: right;
}
table.flatview th
{
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
}
table.flatview th.sorted-by
{
	border-bottom: 1px dashed black;
}
table.flatview td.nametd
{
	position: relative;
	width: 100%;
	text-align: left;
}

.flatview-filter-entry,
 .callgraph-filter-entry
{
	margin-bottom: 0.5em;
}

.flatview-filter-entry >*,
 .callgraph-filter-entry >*
{
	vertical-align: middle;
}

.flatview-filter-deletefield,
 .callgraph-filter-deletefield
{
	display: inline-block;
	vertical-align: middle;
	width: 1.0em;
	height: 1.0em;
	text-align: center;
	line-height: 1.0em;
}

.flatview-filter-deletefield >span,
 .callgraph-filter-deletefield >span
{
	cursor: pointer;
}

.view-info
{
	position: absolute;
	left: 0.8em;
	bottom: 0.8em;
	font-size: 7pt;
}

.loading-dialog
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	margin-top: -45px;
	padding: 15px;
	overflow: auto;
	background: #FFFFFF;
}

.loading-dialog .text
{
	width: 100%;
	font-size: 10pt;
	margin-bottom: 5px;
}

.loading-dialog .bar
{
	width: 100%;
	height: 30px;
	background: #DDDDDD;
}

.loading-dialog .bar .complete
{
	height: 100%;
	background: #88FF88;
}
